@import 'modern-normalize/modern-normalize.css';
:root {
  --accent-color: teal;
  --hover-color: rgb(5, 170, 170);
}

body {
  background-color: rgba(138, 168, 228, 0.288);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
