@import 'modern-normalize/modern-normalize.css';

body {
  background-color: rgba(138, 168, 228, 0.288);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 50px 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
