.list {
  padding: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
}

.name {
  font-weight: 600;
  font-size: 12pt;
  color: teal;
}

.number {
  text-align: left;
  /* font-weight: 600; */
  font-size: 12pt;
  color: teal;
}

.button {
  color: white;
  border: none;
  border-radius: 5px;
  background-color: red;
}

.button:hover {
  cursor: pointer;
}
